@import 'variables.scss';

@media #{$desktop}{
  .page-container{
    .navbar-wrapper-section{
      .main-nav{
        height: 100px;
        .header-nav-items{
          justify-content: center;
          margin-top: 15px;
          .main-item-list{
            justify-content: center;
            .main-items{
              padding-left: 10px;

            }

          }
        }
      }

    }
    .main-content{
      .sections{
        .large-image{
            width: 960px;
            height: 620px;
          }
          .small-images{
            width: 316px;
            height: 200px;
        }
      }
    }
  }
}
