/* ----- Navbar Styles------ */
.navbar-wrapper-section{
  display: flex;
  flex-direction: column;
  font-family: 'Bree Serif', serif;
    .top-nav{
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-height: 40px;
        .top-header-items{
          align-items: center;
          display:flex;
          list-style-type: none;
          .img-item{
            position: absolute;
            left: 20px;
            top: 20px;
            #nba-logo{
            width: 90px;
            height: 15px;
            }


          }
          .nav-item-list{
            list-style-type: none;
            display: flex;
          .nba-items{
              font-size: 14px;
              color: #007ed9;
              text-transform: uppercase;
              padding-left: 50px;

              a{
                color: #007ed9;
                text-decoration: none;
              }
              :hover{
                text-decoration: underline;
              }
            }
          }

        }
      }
      .main-nav{
        background-color: rgb(13, 34, 63);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .jazz-item{
        #jazz-logo{
          height: 92px;
          width: 141px;
          }
        }
        .header-nav-items{
          display: flex;
          .main-item-list{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
          .main-items{
            margin-left: 30px;
            a{
              color: rgb(255,255,255);
              text-decoration: none;

            }
            :hover{
              // background-color: #F9A11E;
              // //padding: 10px;
              // border-radius: 5%;
              }

            }

          }
          }
          .social-icon-wrapper{
            .social-icon-list{
              display: flex;
              list-style-type: none;
              padding-right: 20%;
              .social-items{
                padding-left: 5px;
                padding-right: 5px;
                .btn-social{
                  width: 20px;
                  height: 20px;
                  // text-align: center;
                  font-size: 18px;
                  line-height: 45px;

                  i{
                    background-color: #F9A11E;
                    color: white;
                    border-radius: 100%;
                    padding: 10px;
                    .fa{
                      width: 1.28571429em;
                      text-align: center;
                    }

                  }

                }
              }

            }
          }



      }
}
/* ------ Main Content Section ------- */
.main-content{
    background-image: url("../images/jazz_court.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    // display: flex;
    // justify-content: center;
    //border: solid 5px black;
    .suites{
      // background-color: #F9A11E;
      height: 300px;
    }
    .lexus-club{
      // background: #2b5737;
      height: 300px;
    }
    .executives-club{
      // background-color: rgb(13, 34, 63);
      height: 300px;
    }

}
/* ----- Footer ---- */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    fixed-height: 360px;
    //border: solid 5px purple;

    .main-footer{
        display: flex;
        background-color: rgb(13, 34, 63);
        padding: 5%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .bottom-footer{
      background: rgb(0,0,0);
      display: flex;
      flex-wrap: wrap;
      padding: 5%;
      p{
        color: rgb(255,255,255);
      }
      .turner-logo{
        color: rgb(255,255,255);
      }
      .footer-nav{
        color: rgb(255,255,255);
        list-style-type: none;
        display: flex;
        .f-nav-item{
         a{
           color: rgb(255,255,255);
           text-decoration: none;
         }
        }

      }
    }

    }

/* ------- MEDIA QUERIES ------ */

// Mobile
    @media(max-width: 650px){
      .navbar-wrapper-section{

      .top-nav{
        display: none;
      }
    }
  }

// Tablet
    @media(max-width: 770px){

    }
