/* ----- Navbar Styles------ */

.page-container{
  background-image: url("../images/jazz_court.jpg");
  background-size: cover;
  background-position: 15% 15%;
  background-attachment: fixed;
.navbar-wrapper-section{
  display: flex;
  flex-direction: column;
  font-family: 'Bree Serif', serif;
    .top-nav{
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-height: 40px;
        .top-header-items{
          align-items: center;
          display:flex;
          list-style-type: none;
          .img-item{
            position: absolute;
            left: 20px;
            top: 20px;
            #nba-logo{
            width: 90px;
            height: 15px;
            }
          }
          .nav-item-list{
            list-style-type: none;
            display: flex;
          .nba-items{
              font-size: 14px;
              color: #007ed9;
              text-transform: uppercase;
              padding-left: 50px;

              a{
                color: #007ed9;
                text-decoration: none;
              }
              :hover{
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

        }
      }
      .main-nav{
        background-color: rgb(13, 34, 63);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        top:0;
        width: 100%;
        transition: all 0.5s;
        position: relative;
        z-index: 1;
        .snap-nav-container{
        .jazz-item{
        #jazz-logo{
          height: 92px;
          width: 141px;
          }
        }
        .snap-nav{
          display: none;
          }
        }
        .header-nav-items{
          display: flex;
          .main-item-list{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
          .main-items{
            a{
              color: rgb(255,255,255);
              text-decoration: none;

            }
            :hover{
              color: #F9A11E;
              cursor: pointer;
              }
            }

          }
          }
          .social-icon-wrapper{
            .social-icon-list{
              display: flex;
              list-style-type: none;
              padding-right: 20%;
              .social-items{
                padding-left: 5px;
                padding-right: 5px;
                .btn-social{
                  width: 20px;
                  height: 20px;
                  font-size: 18px;
                  line-height: 45px;

                  i{
                    background-color: #F9A11E;
                    color: white;
                    border-radius: 100%;
                    padding: 10px;
                    .fa{
                      width: 1.28571429em;
                      text-align: center;
                    }

                  }
                  :hover{
                    background-color: #153920;
                    border: solid 3px white;
                    cursor: pointer;
                  }

                }
              }

            }
          }

        }

      }
    }


/* ------ Main Content Section ------- */
.main-content{
    font-family: 'Bree Serif', serif;
    .suites{
      text-align: center;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      padding-top:5%;
      h1{
        text-shadow: 1px 2px gold;
        font-size: 60px;
      }

      .large-image{
        border-top: 5px solid rgb(13, 34, 63);
        border-right: 5px solid rgb(13, 34, 63);
        border-left: 5px solid rgb(13, 34, 63);
        border-bottom: 5px solid rgb(13, 34, 63);
        width: 1024px;
        height: 620px;

      }
      .small-images{
        border: 3px solid rgb(13, 34, 63);
        width: 340px;
        height: 200px;
      }


      .content-block{
        background: rgba(255,255,255,0.7);
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'Bree Serif', serif;
        margin-left: 8.5%;
        margin-right: 8.5%;
        padding: 5%;
        .phone-number{
          color: #F9A11E;
          text-decoration: none;
          }
        }
        .phone-number:hover{
          text-decoration: underline;
        }
    }
    .lexus-club{
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      h1{
        text-shadow: 1px 2px gold;
        font-size: 60px;

      }
      .large-image{
        border-top: 10px solid rgb(13, 34, 63);
        border-right: 5px solid rgb(13, 34, 63);
        border-left: 5px solid rgb(13, 34, 63);
        border-bottom: 10px solid rgb(13, 34, 63);
        max-width: 100%;
        height: auto;
      }
      .small-images{
        border: 3px solid rgb(13, 34, 63);
        width: 340px;
        height: 200px;

      }
      .content-block{
        background: rgba(255,255,255,0.7);
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'Bree Serif', serif;
        margin-left: 8.5%;
        margin-right: 8.5%;
        padding: 5%;
        .phone-number{
          color: #F9A11E;
          text-decoration: none;
          }

        }
        .phone-number:hover{
          text-decoration: underline;
        }
    }
    .executives-club{
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      padding-bottom:5%;
      h1{
        text-shadow: 1px 2px gold;
        font-size: 60px;

      }
      .large-image{
        border-top: 10px solid rgb(13, 34, 63);
        border-right: 5px solid rgb(13, 34, 63);
        border-left: 5px solid rgb(13, 34, 63);
        border-bottom: 10px solid rgb(13, 34, 63);
        max-width: 100%;
        height: auto;
      }
      .small-images{
        border: 3px solid rgb(13, 34, 63);
        width: 340px;
        height: 200px;
      }

      .content-block{
        background: rgba(255,255,255,0.7);
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: 'Bree Serif', serif;
        margin-left: 8.5%;
        margin-right: 8.5%;
        padding: 5%;
        .phone-number{
          color: #F9A11E;
          text-decoration: none;
          }

        }
        .phone-number:hover{
          text-decoration: underline;
        }
    }

}
/* ----- Footer ---- */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Bree Serif', serif;
    .main-footer{
        display: flex;
        background-color: rgb(13, 34, 63);
        padding: 5%;
        justify-content: space-around;
        flex-wrap: wrap;
        a{
          img{
            width: 100px;
            height: 100px;
          }
        }
    }
    .bottom-footer{
      align-items: center;
      background: rgb(0,0,0);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      letter-spacing: 2px;
      font-size: 12px;
      p{
        color: rgb(255,255,255);
        padding-left: 10%;
        padding-right: 10%;
        line-height: 20px;
        text-align: center;

      }
      .turner-logo{
        color: rgb(255,255,255);
      }
      .footer-nav{
        color: rgb(255,255,255);
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        .f-nav-item{
          padding-left: 20px;
          list-style-type: none;
          a{
           color: rgb(255,255,255);
           text-decoration: none;
         }
         :hover{
           color: #F9A11E;
         }
        }

      }
    }
  }
