// Tablet Styles


$tablet: "(min-width: 650px) and (max-width: 1020px)";
@media #{$tablet}{
      .page-container{
        .navbar-wrapper-section{
          .main-nav{
            .snap-nav-container{
            .snap-nav{
              display: none;
              }
              .jazz-item{
                .jazz-logo{
                  padding-left: 2%;
                }
              }
            }
            .header-nav-items{
              justify-content: center;
              .main-item-list{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .main-items{
                  margin-right: 20px;
                }

              }
            }
            .social-icon-wrapper{
              display: flex;
              justify-content: flex-end;
              position: relative;
              bottom: 150px;
              .social-icon-list{
                padding-right: 10%;

              }
            }
          }

        }
        .main-content{
          .sections{
            #suites{
              h1{
                font-size: 55px;
              }
              .suite-images{
                .large-image,
                .small-image{
                  width: 340px;
                  height: 260px;
                }
              }
            }
            #lexus-club{
              h1{
                font-size: 55px;
              }
              .lexus-images{
                .large-image,
                .small-images{
                  width: 290px;
                  height: 200px;
                }
              }

            }
            #executives-club{
              h1{
                font-size: 55px;
              }
              .execuitves-images{
                .large-image,
                .small-images{
                  width: 290px;
                  height: 200px;
                }
              }

            }
          }
        } // end of Main-Content Section
        footer{
          .main-footer{

          }
          .bottom-footer{
            .turner-logo{
              padding-right: 20px;
              padding-left: 20px;
            }
            .footer-nav{
              flex-direction: column;
            }
          }
        }
      }
    }
