@media screen and (max-width: 480px) {
  .page-container .navbar-wrapper-section .main-nav .snap-nav {
    display: flex;
    padding-right: 5%; }
    .page-container .navbar-wrapper-section .main-nav .snap-nav .fa-bars {
      color: #F9A11E; }
    .page-container .navbar-wrapper-section .main-nav .snap-nav .fa-times {
      color: #F9A11E;
      display: none; }
  .page-container .navbar-wrapper-section .main-nav .header-nav-items {
    display: none; }
    .page-container .navbar-wrapper-section .main-nav .header-nav-items .main-item-list {
      flex-direction: column; }
  .page-container .navbar-wrapper-section .main-nav .social-icon-wrapper {
    display: none;
    padding-left: 10px; }
  .page-container .main-content .sections #suites h1 {
    font-size: 55px; }
  .page-container .main-content .sections #suites .suite-images .large-image,
  .page-container .main-content .sections #suites .suite-images .small-images {
    width: 290px;
    height: 200px; }
  .page-container .main-content .sections #lexus-club h1 {
    font-size: 55px; }
  .page-container .main-content .sections #lexus-club .lexus-images .large-image,
  .page-container .main-content .sections #lexus-club .lexus-images .small-images {
    width: 290px;
    height: 200px; }
  .page-container .main-content .sections #executives-club h1 {
    font-size: 55px; }
  .page-container .main-content .sections #executives-club .execuitves-images .large-image,
  .page-container .main-content .sections #executives-club .execuitves-images .small-images {
    width: 290px;
    height: 200px; }
  .page-container footer .bottom-footer .turner-logo {
    padding-right: 20px;
    padding-left: 20px; }
  .page-container footer .bottom-footer .footer-nav {
    flex-direction: column; } }

@media screen and (max-width: 650px) {
  .page-container .navbar-wrapper-section .top-nav {
    display: none; } }
